body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #212121;
    color: #e0e0e0;
  }
  
  nav {
    background-color: #424242;
    padding: 15px;
  }
  
  nav a {
    color: #e0e0e0;
    margin: 0 15px;
    text-decoration: none;
    font-size: 1.1em;
  }
  
  nav a.active {
    border-bottom: 2px solid #e0e0e0;
  }
  
  nav a:hover {
    border-bottom: 2px solid #e0e0e0;
  }
  
  h2.title {
    color: #c5cae9;
  }
  